/*primer menú*/
*{/* */
    margin:0;/* estos tres se aplican a todo para acomodar espacios*/
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
header{
    background-color: #1B1B1B;
}
.nav-1 a{
display: flex;
align-items: center;
justify-content: center;

background-color: black;
height: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
color:rgb(175, 175, 175);
text-decoration: none;
text-transform: uppercase;
font-size: 12px;
}
.nav-1 a:hover{
    background-color: rgb(90, 90, 90);
    color: white;
}
.nav-1 ul{
    list-style: none;
    display: flex;
}
.nav-1 ul li{
    position: relative;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.nav-1 li:hover .ul-2 > li{
    top:0;
    display:block;
}
.ul-2 li{
    display: none;
    position: relative;
}
.ul-2{
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*primer menú final*/

/* logo y barra de busqueda inicio*/
.container-2{
    border: 1px solid black;
    background-color: #1B1B1B;
    display:flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.logo-1{
width: 13%;
margin-left: 3%;
min-width: 100px;
}
.logo-1 img{
    width: 100%;
    height: 100%;
}
.search-box-1{
margin-left: 3%;
width: 46%;
border:none;
min-width: 360px !important;
}
.search-text{
    padding: 6px 50% 6px 6px;
    background-color: rgb(71, 71, 71);
    border:none;
    border-radius: 5px 0px 0px 5px;
    width: 74%;

}
.search-btn{
    background-color: #6DFF4F;
    padding: 6px 22px 6px 22px;
    color:black;
    border-radius: 0px 5% 5px 0px;
}
::placeholder{
    color:rgb(156, 156, 156);
    font-style: italic;
}
input[type="text"]{
    color:white
}
.btn-1{
    padding:6px 8px 6px 8px;
    color:white;
    background-color:rgb(61, 61, 61); 
    border-radius: 5px;
    border:none;
    margin-left: 0.5%;
}
.btn-2{
    padding:6px 8px 6px 8px;
    color:black;
    background-color:#6DFF4F;
    border-radius: 5px;
    border:none;
    margin-left: 0.5%;
}
.btn-1:hover{
    background-color: rgb(100, 99, 99);
    cursor: pointer;
}
.btn-2:hover{
    cursor: pointer;
}
.btn-3{
    background-color:#1B1B1B;
    border: none;
    color:rgb(187, 187, 187);
    margin-left: 4%;
}
.btn-3:hover{
    cursor: pointer;
    color:white;
}
/* logo y barra de busqueda inicio*/
/* segundo menu inicio*/
.nav-2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #1B1B1B;
    height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding-top:5px;
    padding-bottom:2px;
    height: 140%;
    border-bottom: solid 4px #1B1B1B;
    }
    .nav-2 a:hover{
        background-color:#161616;
        border-bottom: solid 4px #6DFF4F;
    }
    .nav-2 ul{
        list-style: none;
        display: flex;
    }
    .nav-2 ul li{
        position: relative;
        width: 100%;
        text-align: center;
    }
    .nav-2 li:hover .ul-4 > li{
        top:0;
        display:block;
    }
    .ul-4 li{
        display: none;
        position: relative;
    }
    .ul-4{
        position:absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
/* segundo menu final*/

/* espacio antes de los videos inicio*/
.antes-video{
    border:1px solid black;
    display: flex;
    background-color: black;

}
.titulo-1{
    border:1px solid black;
    font-size: 25px;
    border-bottom:3px solid black;
    color: white;
}
.titulo-1:hover{
    cursor: pointer;
    border-bottom:3px solid white;
}
.titulo-2{
    border:1px solid black;
    font-size: 15px;
    padding:10px;
    color: white;
    margin-left: auto;
    
}
.titulo-2:hover{
    cursor: pointer;
    border:0.5px dashed white;
}
/* espacio antes de los videos final*/
/* are de videos y anuncio inicio*/
.container-4{
    border: 1px solid black;
    height: 80%;
    display: flex;
    color:white;
    background-color:black;
}
.videos-1{
    border: 1px solid black;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.video-1{
    width: 30%;
    height: 230px;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 10px;
    min-width: 200px;
}
iframe{
    width: 100%;
    height: 80%;
}
.publicidad{
    display: flex;
    align-content: center;
    align-items: center;
    margin:0 auto;
    border: 1px solid black;
}
.gif img{
    width: 50%;
    border: 1px solid black;
    margin:0 auto;
    height: 50%;
    width: 70%;
    margin-top:40%;
    max-width: 500px;
    max-height: 380px;
}
.gif{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin:0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.nombre-1{
    color:rgb(180, 180, 180);
}
.nombre-1:hover{
    color:#6DFF4F;
    cursor: pointer;
}
.texto-anuncio{
    font-size: 12px;
}
img:hover{
    cursor:pointer;


}
body{
    background-color: black;
}

/* are de videos y anuncio inicio*/